[Desktop Entry]
Version=1.0
Type=Application
Name=Tiny Media Manager
GenericName=Media Manager
Comment=A multi-purpose media manager for movies and TV shows
Exec=tinyMediaManager
Icon=net.sourceforge.gdmap
Terminal=false
Categories=Video;AudioVideo;Recorder;
Keywords=Movies;TV;Shows;Metadata;Scraper;
StartupWMClass=tinyMediaManager