# org.tinymediamanager.TinyMediaManager
[Desktop Entry]
Name=Cursor
Exec=zypak-run.sh
Icon=org.tinymediamanager.TinyMediaManager
Type=Application
Categories=Development;IDE;
StartupNotify=true
StartupWMClass=cursor
